button {
  border-width: 0px;
  border-radius: 0.4rem;
  padding: 0.25rem;
  /* margin: 10px; */
  /* background-color: brown; */
}

.addButton {
  color: white;
  background-color: green;
}
.addButton:hover {
  background-color: limegreen;
}
.addButton:active {
  background-color: lightgreen;
}
.cancelButton {
  color: white;
  background-color: red;
}
.cancelButton:hover {
  background-color: rgb(192, 0, 0);
}
.cancelButton:active {
  background-color: darkred;
}

.modal {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.modal > .header {
  width: 100%;
  margin: 0px;
  border-bottom: 1px solid gray;
  font-size: 2rem;
  text-align: center;
  /* padding: 5px; */
}
.modal > .content {
  width: 100%;
  /* padding: 10px 5px; */
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  /* background: #ffffff; */
  border-radius: 18px;
  border: 1px solid #cfcece;
}
